<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pantheon_inc.odyssey"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="com.pantheon_inc.odyssey.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.pantheon_inc.odyssey.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.software.webview"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:backupAgent=".android.BackupAgent"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".android.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".android.AddAccountActivity"
            android:label="@string/add_odyssey_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog"/>
        <activity
            android:name=".android.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".android.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".android.LockActivity"
            android:label="@string/lock"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog">
        </activity>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIG-PqRqaef-yfPQOSmyFK8Uq3rZ9145d0-5HC8g"/>

        <activity
            android:name=".android.OptionsActivity"
            android:label="@string/account_options"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog">
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.pantheon_inc.odyssey" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.pantheon_inc.odyssey" />
            </intent-filter>
        </receiver>
        <service
            android:name=".android.GcmService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>